
.root {
    -fx-background-color: #edeade;
}

.lblTitle {
    -fx-padding: 20px;
    -fx-border-insets: 20px;
    -fx-background-insets: 20px;
    -fx-font: 25px Verdana;
}

.lblStamp {
    -fx-padding: 20px;
    -fx-border-insets: 20px;
    -fx-background-insets: 20px;
    -fx-font: 20px Verdana;
}

.lblUserCreateConfirm {
    -fx-padding: 10px;
    -fx-border-insets: 10px;
    -fx-background-insets: 10px;
    -fx-text-fill: green;
}

.timestamp {
    -fx-padding: 20px;
    -fx-border-insets: 20px;
    -fx-background-insets: 20px;
    -fx-font: 20px Verdana;
    -fx-background-color: white;
}

.btnNewPerson {
    -fx-padding: 20px;
    -fx-border-insets: 20px;
    -fx-background-insets: 20px;
    -fx-font: 20px Verdana;
    -fx-background-color: transparent;
}

.btnListPerson {
    -fx-padding: 20px;
    -fx-border-insets: 20px;
    -fx-background-insets: 20px;
    -fx-font: 20px Verdana;
    -fx-background-color: transparent;
}

.btnCreateNewUser {
    -fx-padding: 10px;
    -fx-border-insets: 10px;
    -fx-background-insets: 10px;
}

.textField {
    -fx-padding: 10px;
    -fx-border-insets: 10px;
    -fx-background-insets: 10px;
}